<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="co.aoscp.miservices"
    coreApp="true"
    android:sharedUserId="android.uid.system">

    <uses-sdk android:targetSdkVersion="28" android:minSdkVersion="28"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="false"
        android:allowClearUserData="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        tools:ignore="GoogleAppIndexingWarning"
        android:persistent="true">

        <receiver
            android:name=".onetime.MiBootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <service
            android:name=".onetime.ServiceInitializer"
            android:permission="ServiceInitializer">
            <intent-filter>
                <action android:name="ServiceInitializer"/>
            </intent-filter>
        </service>

        <provider
            android:name=".providers.AmbientHistoryProvider"
            android:authorities="co.aoscp.miservices.providers.ambient"
            android:exported="true" />

        <provider
            android:name=".providers.BatteryEstimateBridgeProvider"
            android:authorities="co.aoscp.miservices.providers.batterybridge"
            android:exported="true" />

        <provider
            android:name=".providers.QuickspaceProvider"
            android:authorities="co.aoscp.miservices.providers.quickspace"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
